# frontend env vars

# mapbox access token
VITE_MAPBOX_TOKEN=

# CF CDN URL
VITE_CDN_URL=

# CF worker URL
VITE_WORKER_URL=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=
